<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>About Us</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen class="ion-padding">    
        <img src="assets/teleshabout.png"  style="margin: 10px auto 20px; display: block;">
        <div class="center">
           <p>&copy; 2019 Tel-Eshtaol Intern's Team</p>
        </div>
        <h6 style="text-align: center;">Terms & Conditions</h6>
      <p style="text-align: center;">
        
        To access like,comment and share <ion-text color="primary">News</ion-text> you must register to Tel-Eshtaol("Account")
        Also you can publish <ion-text color="secondary">Good News</ion-text> being registered as Content Creator with in our team.
        A breach or violation of any <ion-text color="danger">Term and Condition</ion-text> is not allowed . 
         </p>
    
  </ion-content>
  
</ion-app>