<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>About Us</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen class="ion-padding">
    <!-- <ion-thumbnail slot="start">
      <ion-img src="assets/ionic_splash.png"></ion-img>
    </ion-thumbnail> -->
   <!--  <ion-img [src]="new_s.image_url"></ion-img> -->
    
      
        <img src="assets/ionic_splash.png">
      <ion-label style="margin-left:90px;">2019 Tel-Eshtaol Team</ion-label>
    
  </ion-content>
  
</ion-app>