<ion-header>
  <ion-toolbar translucent>
    <ion-title>Setting</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list-header style="margin-left: 140px;">Profile</ion-list-header>
  <!-- <ion-avatar class="ion-margin-start" style="margin-left: 160px;">
    <img src="assets/avatarsetting.svg">
  </ion-avatar> -->
  <img src="assets/avatarsetting.png" style="margin-left: 145px;">
  <div style="margin-left: 120px;">
    <p>Profile: User</p>
    <p>Email:_____</p>
  </div>
  <ion-button size="small" color="danger" style="margin-left: 140px;">Logout</ion-button>
</ion-content>