<ion-header>
  <ion-toolbar translucent>
    <ion-title>Setting</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list-header style="display:block; text-align:center; margin-top: 10px;">User Profile</ion-list-header>
  <img src="assets/avatarsetting.png" style="margin: 10px auto 20px; display: block;">
  <div style="display:block;text-align:center;">
    <p>User Name:{{user_data.name}}</p>
    <p>Email:{{user_data.email}}</p>
    <p>Password:******</p>
  </div>
  <div class="center">
    <ion-button size="small" color="danger" >Edit</ion-button>
    <ion-button size="small" color="danger"(click)="logout()">Logout</ion-button>
  </div>
</ion-content>