<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content >
    <!-- <h2 class="center-col">Create An Account</h2> -->
      <ion-avatar class="ion-margin-start" style="margin-left: 150px;margin-top: 40px;">
        <img src="assets/avatar.svg">
      </ion-avatar>
    <form [formGroup]="registerationForm" (ngSubmit)="signUp()">
      <ion-item>
        <ion-label position="floating" style="margin-left: 10px;">Full Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" style="margin-left: 10px;">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"style="margin-left: 10px;">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"style="margin-left: 10px;"> Confirmation Password</ion-label>
        <ion-input type="password" formControlName="password_confirmation" ></ion-input>
      </ion-item>

      <!-- <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" name="name" ngModel required></ion-input>
      </ion-item>
      <p style="color:red;text-align: left" *ngIf="usernameError">Invalid Username</p>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" name="email" ngModel required></ion-input>
      </ion-item>
      <p style="color:red;text-align: left" *ngIf="emailError">Invalid E-mail</p>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="Password" name="password" ngModel required></ion-input>
      </ion-item>
      <p style="color:red;text-align: left" *ngIf="passwordLengthError">Invalid Password</p>
      <ion-item>
        <ion-label floating>Confirm Password</ion-label>
        <ion-input type="Password" name="confirm_password" ngModel required></ion-input>
      </ion-item> -->

      <div class="button-inline">
        <ion-button  type="submit" [disabled]="!registerationForm.valid" style="margin-left: 140px;margin-top: 20px;">Register</ion-button>
      </div>
    </form>
  </ion-content>

